@import "../../scss/variables";
// TODO при загрузке fullpost наладить скелетон
.root {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	padding: 0px 10px;

	.withoutPagination {
		flex: 1 0 auto;
		@include lg {
			margin-left: 45px;
		}
	}

	main {
		padding: 20px 0px;
		flex: 1 0 auto;
	}

	.mainPart {
		flex-direction: column-reverse;
		display: flex;
		column-gap: 20px;
		@include lg {
			flex-direction: row;
		}

		// TODO : ахинея с шириной
		.posts {
			max-width: 100%;

			display: flex;
			row-gap: 20px;
			flex-direction: column;
		}
	}

	.tabs {
		display: flex;
		column-gap: 10px;
		margin-bottom: 20px;
		button {
			background-color: #4fc3f7;
		}
		.active {
			background-color: #0288d1;
		}
	}

	.aside {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		row-gap: 20px;
		min-width: 150px;
		margin-bottom: 15px;

		.tags,
		.comments {
			row-gap: 5px;
			background-color: #fff;
			border-radius: 5%;
			padding: 10px;
			display: flex;
			flex-direction: row;
			column-gap: 5px;
			flex-wrap: wrap;
			align-items: center;
			overflow: hidden;
			max-width: 100%;

			@include lg {
				max-width: 300px;
				align-items: baseline;
				row-gap: 10px;
				flex-direction: column;
			}

			.commentBlock {
				display: flex;
				flex-direction: column;
				column-gap: 5px;
				// overflow: hidden;
				.commentUser {
					display: flex;
					align-items: center;
					column-gap: 5px;
					img {
						max-width: 20px;
						max-height: 20px;
						border-radius: 50%;
					}
					.commentName {
						overflow: hidden;
						text-overflow: ellipsis;
						font-weight: bold;
						max-width: 70%;
					}
				}
				.commentText {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.title {
				font-weight: 700;
			}
			.tag,
			.backToPosts {
				overflow: hidden;
				max-width: 100%;
				text-overflow: ellipsis;
				cursor: pointer;
				&:hover {
					color: #0288d1;
				}
				span {
					font-weight: 800;
				}
			}
			.backToPosts {
				// color: red;
			}
		}
		.comments {
			display: none;
			@include lg {
				display: flex;
			}
		}
	}
	// }
}
