.root {
	padding: 40px 0;

	.title {
		margin: 35px 0;
	}

	.error {
		margin: 60px auto;
		width: 580px;
		text-align: center;
		h2 {
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 10px;
		}
		p {
			font-size: 20px;
		}
	}

	.items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 11px;
		justify-content: center;
		@media (max-width: 1400px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
